<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cyaira Hughes</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="icon" href="../static/logos/favicon.png">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/general.css">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/about.css">
    <link rel="stylesheet" href="/styles/portfolio.css">
    <link rel="stylesheet" href="/styles/contact.css">
</head>
<body>
    <div class="header">
        <div class="tabs-section">
            <a id="home-tab" class="selected-tab">Home</a>
            <a id="about-tab" class="unselected-tab">About</a>
            <a id="portfolio-tab" class="unselected-tab">Portfolio</a>
        </div>
        <div class="contact-section">
            <p>Contact:</p>
            <a href="http://linkedin.com/in/cyaira-hughes" target="_blank">
                <img class="linkedin-link" src="../static/logos/png-transparent-linkedin-computer-icons-blog-logo-watercolor-butterfly-angle-text-rectangle.png" >
            </a>
            <a href="http://github.com/cyairahughes" target="_blank">
                <img class="github-link" src="../static/logos/github-mark.png" alt="">
            </a>
            <a href="mailto:cyairahughes@gmail.com"> 
                <img class="gmail-link" src="../static/logos/png-transparent-new-logo-gmail-google-new-logos-icon-thumbnail.png" alt="">
            </a>
        </div>
    </div>
    <div id="home" class="home">
        <img class="background-gif" src="../static/gifs/pink+mountains.gif" alt="">
        <p class="welcome-message">Hello! I am <span>Cyaira Hughes</span> and I am a Software Developer.</p>
        <div class="home-buttons">
            <a href="../static/documents/Software Engineer Resume.pdf" target="_blank">
                <button class="resume-button">Resume</button>
            </a>
            <button class="contact-button">Contact Me</button>
        </div>
    </div>
    <div id="about" class="about">
        <div class="title">About</div>
        <div class="info">
            <div class="about-me">
                <img src="../static/images/50384947_00801_0155_Large.jpg">
                <div class="description-container">
                    <p class="description-title">Who's Behind the Code?<p>
                    <p class="description">
                        Welcome and thank you for your interest in my profile. 
                        I am a devout software engineer who has recently graduated from Virginia 
                        Commonwealth University earning a degree in Computer Science with a  
                        minor in Statistics. I am passionate about innovation and continually seek opportunities 
                        to leverage technology in unique and inventive ways. I have a serious interest 
                        in projects involving web development, data science, machine learning and statistics. 
                        I also engage in video game development as a personal endeavor. 
                        <a>Let's work together!</a>

                    </p>
                </div>
            </div>
            <div id='skills-container' class="skills-container">
                <div class="bar">
                    <span class="skill">Java</span>
                    <span class="bar-fill" style="width:85%"><p>85%</p></span>
                </div>
                <div class="bar">
                    <span class="skill">Python</span>
                    <span class="bar-fill" style="width:80%"><p>80%</p></span>
                </div>
                <div class="bar">
                    <span class="skill">C#</span>
                    <span class="bar-fill" style="width:80%"><p>80%</p></span>
                </div>
                <div class="bar">
                    <span class="skill">HTML</span>
                    <span class="bar-fill" style="width:75%"><p>75%</p></span>
                </div>
                <div class="bar">
                    <span class="skill">CSS</span>
                    <span class="bar-fill" style="width:75%"><p>75%</p></span>
                </div>
                <div class="bar">
                    <span class="skill">JavaScript</span>
                    <span class="bar-fill" style="width:50%"><p>50%</p></span>
                </div>
                <div class="bar">
                    <span class="skill">SQL</span>
                    <span class="bar-fill" style="width:70%"><p>70%</p></span>
                </div>
                <div class="bar">
                    <span class="skill">R</span>
                    <span class="bar-fill" style="width:65%"><p>65%</p></span>
                </div>
                <div class="bar">
                    <span class="skill">UNITY</span>
                    <span class="bar-fill" style="width:70%"><p>70%</p></span>
                </div>
                <div class="bar">
                    <span class="skill">React</span>
                    <span class="bar-fill" style="width:50%"><p>50%</p></span>
                </div>
                <div class="bar">
                    <span class="skill">Angular</span>
                    <span class="bar-fill" style="width:50%"><p>50%</p></span>
                </div>
            </div>
        </div>
    </div>
    <div id="portfolio" class="portfolio">
        <div class="title">Projects</div>
        <div class="sort-container">
            <div class="sort-box">ALL</div>
        </div>
        <div class="project-container">
            <div class="project">
                <img class="project-preview" src="/static/images/50384947_00801_0155_Large.jpg" alt="">
                <p class="project-name">hello world</p>
            </div>
            <div class="project">
                <img class="project-preview" src="/static/images/676-6764065_default-profile-picture-transparent-hd-png-download.png" alt="">
                <p class="project-name">hello world</p>
            </div>
            <div class="project">
                <img class="project-preview" src="/static/images/676-6764065_default-profile-picture-transparent-hd-png-download.png" alt="">
                <p class="project-name">hello world</p>
            </div>
            <div class="project">
                <img class="project-preview" src="/static/images/676-6764065_default-profile-picture-transparent-hd-png-download.png" alt="">
                <p class="project-name">hello world</p>
            </div>
        </div>
    </div>
    <div class="contact">
        <div class="title">Contact</div>
        <form class="form-container" action="">
            <input class="input-field" type="text" placeholder="Name">
            <input class="input-field" type="text" placeholder="Email">
            <textarea class="input-field message" placeholder="Message"></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>
<script src="/scripts/header.js"></script>
<script src="/scripts/about.js"></script>
</body>
</html>