<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cyaira Hughes</title>
    <link rel="stylesheet" href="../styles/contact-card.css">
</head>
<body>
    <div class="container">
        <div class="contact-container">
            <p class="contact-name">Cyaira Hughes</p>
            <div class="circular-image-container">
                <img class="circular-profile-image" src="../static/pug-dog-profile-22986989.webp" alt="">
            </div>
            <p class="intro-text">
                Hello, my name is Cyaira Hughes and I am a 
                junior software engineer. Welcome to my personal website.
            </p>
            <div class="links">
                <img class="contact-link" src="../static/pug-dog-profile-22986989.webp" alt="">
                <img class="contact-link" src="../static/pug-dog-profile-22986989.webp" alt="">
                <img class="contact-link" src="../static/pug-dog-profile-22986989.webp" alt="">
            </div>
            <div class="sections">
                <div class="section-row">
                    <button class="section-button">About Me</button>
                </div>
                <div class="section-row">
                    <button class="section-button">Portfolio</button>
                </div>
                <div class="section-row">
                    <button class="section-button">Resume</button>
                </div>
                <div class="section-row">
                    <button class="section-button">Contact</button>
                </div>
            </div>
        </div>
        <div class="info-container">
            <div class="about-containter">
                <div class="about-info">
                    <p class="info-name">Cyaira Hughes</p>
                    <p class="about-title">Software Engineer</p>
                    <p class="about-description"></p>
                    <div class="about-buttons">
                        <button class="portfolio-button">View Portfolio</button>
                        <button class="portfolio-button">View Resume</button>
                    </div>
                </div>
                <div class="large-profile-image"></div>
            </div>
            <div class="experience-container">

            </div>
            <div class="projects-container">

            </div>
        </div>
    </div>
</body>
</html>