.about {
    background-color: rgb(252, 227, 227);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 15vh;
    padding-top: 5vh;
}


.info {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 2vw;
}

.about-me {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    align-items: center;
}

.about-me img {
    width: 50vh;
    height: 50vh;
    object-fit:cover;
    object-position: top;
    border: none;
    border-radius: 40vh;
    box-shadow: 0px 0px 1.5vh rgba(0,0,0,1);
}  

.description-container {
    padding: 0 3vh;
}

.description-title {
    font-size: 4vh;
    color: rgb(85, 85, 85);
    text-align: center;
    font-family: roboto;
}

.description {
    text-align: center;
    margin-top: .5vh;
    color: rgb(85, 85, 85);
    font-size: 2vh;
}

.description a {
    font-family: dollie-script;
    font-size: 2.5vh;
    cursor: pointer;
    color: rgb(253, 48, 82);
    transition: hover .15s;
}

.description a:hover{
    opacity: 50%;
}

.skills-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh;
    padding: 3vw;
}

.bar-container{
    display: flex;
}
.skill {
    height: 4vh;
    background-color: rgb(255, 149, 167);
    color: white;
    font-size: 2vh;
    font-weight: bold;
    font-family: roboto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14vh;
}

.bar{
    background-color: rgba(255, 255, 255);
    width: 40vh;
    height: 4vh;
    align-items: center;
    justify-content: left; 
}

.bar-fill {
    background-color: rgba(255, 105, 130, .4);
    display: flex;
    height: 4vh;
    justify-content: end;
    align-items: center;
    width: 100%;
}

.bar-fill p {
    margin-right: 1vh;
    font-weight: bold;
    color: rgb(85, 85, 85);
    font-size: 2vh;
}