.contact {
    background-color: rgb(255, 214, 221);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 100px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    border: none;
    width: 800px;
}

.input-field {
    width: 800px;
    background-color: rgb(255, 149, 167);
    border: none;
    height: 35px;
    color: rgb(255, 255, 255);
    cursor:text;
    border-radius: 3px;
    padding-right: 8px;
    transition: backgroud-color .15s;
}

.input-field::placeholder{
    color: rgba(255, 255, 255, .75);
    font-weight: bold;
}

.input-field[type='text'], .input-field[type='email']{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: Arial;
    padding-left: 8px;
}

.input-field:focus {
    outline: none;
    caret-color: white;
}

.input-field:focus::placeholder {
    color: transparent;
}

.message {
    height: 250px;
    max-height: 500px;
    max-width: 800px;
    padding-top: 8px;
    padding-left: 8px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: Arial;
}

.submit-button-container{
    width: 800px;
    display: flex;
    justify-content: end;
}

.submit-button {
    margin-top: 8px;
    height: 40px;
    border: none;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 149, 167);
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: 0px 0px 3px rgba(0,0,0,.4);
    padding: 0 10px;
    width: 200px;
}

.submit-button:hover {
    opacity: 75%;
}

