* {
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
    color: rgb(0, 0, 0);
    caret-color: transparent;
    cursor: default;
}


html { height: 100%; }

body {
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
}

.title {
    margin: 50px 0;
    font-size: 50px;
    border-bottom: solid;
    color: rgb(94, 94, 94);
    padding-bottom: 10px;
    text-transform: lowercase;
}

@font-face {
    font-family: dollie-script;
    src: url(/static/fonts/DollieScript_PersonalUse.ttf);
}