.header {
    background-color: #ffcae6;
    box-shadow: 0 0 1vh rgba(0,0,0,.5);
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    right: 0;
    height: 5vh;
    display: flex;
    justify-content: space-between;
}

.tabs-section {
    flex: 1;
    display: flex;
    justify-content: left;
    gap: 20px;
    margin-left: 20px;
    align-items: center;
    width: 300px;
}
.unselected-tab {
    border: none;
    padding-bottom: 8px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    transition: color .25s opacity .25s;
    cursor: pointer;
    text-transform: uppercase;
}

.selected-tab {
    border: none;
    padding-bottom: 8px;
    font-size: 20px;
    color: rgb(253, 48, 82);
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
}

.unselected-tab:hover {
    color: rgb(253, 48, 82);
    opacity: 50%;
}

.contact-section {
    flex: 1;
    display: flex;
    margin-top: -8px;
    margin-right: 8px;
    justify-content: right;
    align-items: center;
    font-size: 14px;
}

.linkedin-link, .github-link, .gmail-link{
    height: 30px;
    width: 30px;
    border-width: 1px;
    transition: opacity .15s;
    cursor: pointer;
}

.github-link {
    height: 23px;
    width: 23px;
}

.gmail-link {
    height: 25px;
    width: 25px;
    object-fit: contain;
    margin-left: 5px;
}

.contact-section img:hover{
    opacity: 50%;
}