.home {
    background-color: rgb(252, 227, 227);
    position: relative;
    top: 5vh;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5vh;
}

.background-gif {
    height: 100%;
    width: 101%;
    object-fit: cover;
    object-position: bottom;
}

.welcome-message {
    font-size: 3vw;
    padding: 5vw;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 35%;
    font-weight: bold;
    text-align: center;
}

.welcome-message span {
    color: rgb(253, 48, 82);
    font-family: dollie-script;
    font-weight: 400;
    font-size: 4vw;
    text-transform: capitalize;
}

.home-buttons {
    margin-top: 10vw;
    position: absolute;
    display: flex;
    top: 50%;
    gap: 3vw;
}

.resume-button, .contact-button {
    width: 15vh;
    padding: 1.2vh 0;
    background-color: rgb(255, 255, 255);
    color: rgb(92, 92, 92);
    border: none;
    border-radius: .5vh;
    box-shadow: 0 0 1vh rgba(0,0,0,.3);
    font-family: roboto;
    transition: background-color .15s box-shadow .15s;
    cursor: pointer;
}

.contact-button {
    background-color: rgb(253, 48, 82);
    color: white;
}

.resume-button:hover{
    background-color: rgba(255, 255, 255, .5);
} 

.contact-button:hover {
    background-color: rgba(253, 48, 82, .5);
}

.resume-button:active, .contact-button:active {
    box-shadow: 0 0 1vh rgba(0,0,0,0);
}
