.portfolio {
    background-color: rgb(255, 206, 206);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 15vh;
}

.sort-container {
    display: flex;
    height: 4vh;
    align-items: center;
    justify-content: space-around;
    width: 60vw;
    margin-bottom: 5vh;
}

.sort-box {
    background-color: rgb(255, 149, 167);
    flex: 1;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 2.5vh;
    font-family: roboto;
    transition: opacity .15s;
    cursor: pointer;
}

.sort-box:hover {
    opacity: 50%;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1090px;
    gap: 3vh;
}

.project {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    border-radius: 2px;
}

.project-preview:hover {
    opacity: 70%;
}
.project-preview:active {
    box-shadow: 0 0 3px rgba(0,0,0,0);
}

.project-name {
    cursor: pointer;
    text-align: center;
    font-family: Roboto;
    font-weight: 600;
    font-size: 24px;
}

.project-preview {
    cursor: pointer;
    width: 40vh;
    height: 40vh;
    object-fit: cover;
    object-position: top;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    box-shadow: 0 0 3px rgba(0,0,0,.5);
    transition: opacity .15s box-shadow .15s;
}

.modal{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.132);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    display: none;
    justify-content: center;
}

.modal-container{
    position: relative;
    width: 75vh;
    height: fit-content;
    background-color: white;
    z-index: 1100;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0,0,0,.8);
}

.exit-modal-button-container{
    width: 100%;
    text-align: right;
    margin: 1vh 2vh 1vh 0 ;
}

.exit-modal-button{
    font-size: 4vh;
    background-color: white;
    border: none;
    cursor: pointer;
}

.modal-display {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1vh;
    width: 100%;
    height: 35vh;
}

.modal-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.modal-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.next-button {
    font-size: 3.5vh;
    cursor: pointer;
    margin: 0 1vh 0 1vh;
}

.modal-description-container{
    width: 100%;
    height: 100%;
}

.modal-text-title, .modal-text-subtitle, .modal-text-description{
    margin-left: 1.5vh;
    font-family: Roboto;
    font-weight: bold;
    color: rgb(44, 44, 44);
    font-size: 4vh;
}

.modal-text-subtitle{
    font-size: 2.5vh;
    font-weight: 400;
    color: rgb(106, 106, 106);
    border-bottom: solid;
    border-width: .3vh;
    margin-right: 1.5vh;
    padding-bottom: 1vh;
}

.modal-text-description{
    margin-top: 1vh;
    font-size: 2vh;
    font-weight: 400;
    padding-bottom: 1vh;
    margin-right: 1.5vh;
}
