.contact {
    background-color: rgb(255, 214, 221);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.input-field {
    background-color: rgb(255, 149, 167);
    border: none;
    width: 800px;
    height: 40px;
    color: rgb(255, 255, 255);
    cursor:text;
    transition: backgroud-color .15s;
}

.input-field::placeholder{
    color: rgba(255, 255, 255, 0.5);
}

.input-field[type='text']{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: Arial;
    padding-left: 8px;
}

.input-field:focus {
    outline: none;
    background-color: rgba(128, 128, 128, 0.2);
}

.message {
    height: 100px;
    padding-top: 8px;
    padding-left: 8px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: Arial;
}