.portfolio {
    background-color: rgb(255, 206, 206);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;
}

.sort-container {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-around;
    width: 700px;
    margin-bottom: 25px;
}

.sort-box {
    background-color: rgb(255, 149, 167);
    flex: 1;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: roboto;
    transition: opacity .15s;
    cursor: pointer;
}

.sort-box:hover {
    opacity: 50%;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1090px;
    gap: 20px;
}

.project {
    background-color: white;
    cursor: pointer;
    transition: opacity .15s;
}

.project:hover {
    opacity: 50%;
}

.project-name {
    cursor: pointer;
    text-align: center;
    font-family: dollie-script;
    font-size: 24px;
}

.project-preview {
    cursor: pointer;
    width: 350px;
    height: 350px;
}